{{!-- <!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0; background: #ebf2f6fa; font-family: 'Poppins', sans-serif;">
  <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
    <div style="width: 1000px; margin: 0 auto; margin-top: 10px; background-color: white; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 1.25rem; position: relative;">
      <!-- Email Header -->
      <div style="display: flex; justify-content: center; align-items: center; margin-top: 2rem; margin-bottom: 2rem;">
        <h1 style="font-size: 32px; font-weight: 600; margin: 0;color:#0070f3;">Front desk <sup style="font-size: 12px; margin-left: 2px;">TM</sup></h1>
      </div>
      <!-- Email Body -->
      <div style="text-align: center; margin-top: 2.5rem; margin-bottom: 18.5rem;">
        <h2 style="font-size: 40px; font-weight: 400; margin-top: 0.75rem;">Confirm your email</h2>
        <p style="font-size: 20px; margin-top: 0.0625rem;">Thank you for signing up to use our platform.<br/>
          Confirm your email by clicking on the button below.</p>
        <div style="display: flex; justify-content: center; margin-top: 1.5rem;">
          <a href={{link}} style="background-color: #0070f3; color: white; margin-top: 48px; font-size: 20px; padding: 0.5rem 2rem; border-radius: 4px; text-decoration: none;">Confirm email</a>
        </div>
      </div>
      <!-- Email Footer -->
      <div style="background-color: #0070f3; color: white; font-size: 20px; padding: 2rem 0; display: flex; justify-content: center; align-items: center; text-align: center; position: absolute; bottom: 0; left: 0; right: 0;">
        <div style="display: flex;">
          <p>&copy;&nbsp; Copyrights {{year}}</p>
        </div>
        <div style="display:inline-flex; margin-left: 0.5rem;">
          <p>&nbsp; | &nbsp;Contact +233 ( 256 737 010 )</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>



 --}}



<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
</head>
<body style="display: flex; flex-direction: column; min-height: 100vh; margin: 0; background: #ebf2f6fa; font-family: 'Poppins', sans-serif;">
  <div style="flex-grow: 1; display: flex; justify-content: center; align-items: center;">
    <div style="width: 1000px; background-color: white; border-radius: 8px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); padding: 1.25rem; position: relative;">
      <!-- Email Header -->
      <div style="display: flex; justify-content: center; align-items: center; margin-top: 2rem; margin-bottom: 2rem;">
        <h1 style="font-size: 32px; font-weight: 600; color:#0070f3;">Front desk <sup style="font-size: 12px; margin-left: 2px;">TM</sup></h1>
      </div>
      <!-- Email Body -->
      <div style="text-align: center; margin-top: 2.5rem; margin-bottom: 18.5rem;">
        <h2 style="font-size: 40px; font-weight: 600; margin-top: 0.75rem;">Confirm your email</h2>
        <p style="font-size: 20px; margin-top: 0.0625rem;">Thank you for signing up to use our platform.<br/>
          Confirm your email by clicking on the button below.</p>
        <div style="display: flex; justify-content: center; margin-top: 1.5rem;">
          <a href={{link}} style="background-color: #0070f3; color: white; margin-top: 48px; font-size: 20px; padding: 0.5rem 2rem; border-radius: 4px; text-decoration: none;">Confirm email</a>
        </div>
      </div>
      <!-- Email Footer -->
      <div style="background-color: #0070f3; color: white; font-size: 20px; padding: 2rem 0; display: flex; justify-content: center; align-items: center; text-align: center; position: absolute; bottom: 0; left: 0; right: 0;">
        <div style="display: flex;">
          <p>&copy;&nbsp; Copyrights {{year}}</p>
        </div>
        <div style="display:inline-flex; margin-left: 0.5rem;">
          <p>&nbsp; | &nbsp;Contact +233 ( 256 737 010 )</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
